@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

/* --------------------------------------------------
/* #THEME VARS SETUP
/* -------------------------------------------------- */

@theme inline {
  /* colors -------------------- */

  /* colors: gray */
  /* --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
  --color-gray-950: var(--color-gray-950); */

  /* colors: status */
  --color-success-light: var(--color-success-light);
  --color-success: var(--color-success);
  --color-success-dark: var(--color-success-dark);
  --color-info-light: var(--color-info-light);
  --color-info: var(--color-info);
  --color-info-dark: var(--color-info-dark);
  --color-warning-light: var(--color-warning-light);
  --color-warning: var(--color-warning);
  --color-warning-dark: var(--color-warning-dark);
  --color-error-light: var(--color-error-light);
  --color-error: var(--color-error);
  --color-error-dark: var(--color-error-dark);

  /* colors: app */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* colors: sidebar */
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  /* colors: chart */
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  /* colors: popover */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  /* colors: card */
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* app -------------------- */

  /* app: radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* app: typography */
  --font-primary: var(--font-family-primary), sans-serif;
  --font-mono: var(--font-family-mono), monospace;

  /* app: spacing */
  --spacing-screen: 100dvh;
}

/* --------------------------------------------------
/* #THEME MODES
/* -------------------------------------------------- */

:root {
  /* colors -------------------- */

  /* colors: gray */
  /* --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  --color-gray-950: #020617; */

  /* colors: status */
  --color-success-light: color-mix(in srgb, var(--color-success), white 50%);
  --color-success: #84cc16;
  --color-success-dark: color-mix(in srgb, var(--color-success), black 50%);
  --color-info-light: color-mix(in srgb, var(--color-info), white 50%);
  --color-info: #0ea5e9;
  --color-info-dark: color-mix(in srgb, var(--color-info), black 50%);
  --color-warning-light: color-mix(in srgb, var(--color-warning), white 50%);
  --color-warning: #f59e0b;
  --color-warning-dark: color-mix(in srgb, var(--color-warning), black 50%);
  --color-error-light: color-mix(in srgb, var(--color-error), white 50%);
  --color-error: #f43f5e;
  --color-error-dark: color-mix(in srgb, var(--color-error), black 50%);

  /* app */
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --primary: #f43f5e;
  --primary-foreground: oklch(0.99 0.03 121);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);

  /* chart */
  --chart-1: oklch(0.9 0.18 127);
  --chart-2: oklch(0.85 0.21 129);
  --chart-3: oklch(0.77 0.2 131);
  --chart-4: oklch(0.65 0.18 132);
  --chart-5: oklch(0.53 0.14 132);

  /* sidebar */
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.65 0.18 132);
  --sidebar-primary-foreground: oklch(0.99 0.03 121);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  /* card */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  /* popover */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  /* app -------------------- */

  /* app: radius */
  --radius: 0.625rem;

  /* app: skeleton */
  --skeleton-background: hsl(
    from color-mix(in srgb, var(--background), #94a3b8 10%) h s calc(l - 10)
  );
  --skeleton-foreground: hsl(
    from color-mix(in srgb, var(--foreground), #94a3b8 10%) h s calc(l - 10)
  );
}

.dark {
  /* colors -------------------- */

  /* colors: gray */
  /* --color-gray-50: #020617;
  --color-gray-100: #0f172a;
  --color-gray-200: #1e293b;
  --color-gray-300: #334155;
  --color-gray-400: #475569;
  --color-gray-500: #64748b;
  --color-gray-600: #94a3b8;
  --color-gray-700: #cbd5e1;
  --color-gray-800: #e2e8f0;
  --color-gray-900: #f1f5f9;
  --color-gray-950: #f8fafc; */

  /* colors: app */
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --primary: #f43f5e;
  --primary-foreground: oklch(0.27 0.07 132);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);

  /* colors: chart */
  --chart-1: oklch(0.9 0.18 127);
  --chart-2: oklch(0.85 0.21 129);
  --chart-3: oklch(0.77 0.2 131);
  --chart-4: oklch(0.65 0.18 132);
  --chart-5: oklch(0.53 0.14 132);

  /* colors: sidebar */
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.85 0.21 129);
  --sidebar-primary-foreground: oklch(0.27 0.07 132);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);

  /* colors: card */
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);

  /* colors: popover */
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
